@import "fonts/Roboto";

* {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    background: #252b3f;
}

.wrapper {
    min-height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    background: #2d3748;
    border-radius: 0.5rem;
    padding: 2rem;
    width: 75%;
    min-height: 90%;
    gap: 2rem;
    color: WHITE;
    margin: 1rem 0;
    @media only screen and (max-width: 700px) {
        width: 100%;
        min-height: 100%;
    }
}

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.height-auto {
    height: auto !important;
}

.width-auto {
    width: auto !important;
}

.header-wrapper {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: flex-start;
}

.header {
    transition: 0.4s;
    display: flex;
    gap: 2rem;
    background: #4a5568;
    color: #a0aec0;
    border-radius: 1rem;
    height: auto;
    width: auto;
    padding: 2rem;

    @media only screen and (max-width: 700px) {
        padding: 1rem;
    }

    &:hover {
        cursor: pointer;
        background: #a0aec0;
        color: #4a5568;
    }
}

.headline {
    display: flex;
    align-items: center;
    height: auto;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    @media only screen and (max-width: 700px) {
        font-size: 1rem;
    }
}

.headIcon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    font-size: 4rem;
}

.logo {
    width: 64px;
    height: auto;
    @media only screen and (max-width: 700px) {
        height: 40px;
    }
}

.item {
    display: flex;
    flex-direction: column;
    height: auto;
    background: #1a202c;
    padding: 1rem;
    border-radius: 0.5rem;
    gap: 1rem;
}

.title {
    height: auto;
    padding: 0 0.25rem;
    font-weight: bold;
}

.cmd {
    display: flex;
    align-items: center;
    background: #2d3748;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    color: #a5b6ca;
    height: auto;
}

.copy {
    transition: 0.4s;
    width: 32px;
    height: auto;

    &:hover {
        cursor: pointer;
        width: 36px;
    }
}

.footer {
    height: 5%;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.footer-col {
    width: auto;
}

.footer-link {
    transition: 0.4s;
    text-decoration: none;
    font-weight: bolder;
    color: WHITE;

    &:hover {
        cursor: pointer;
        text-decoration: none;
        color: #8dabcc;
    }
}

.feedback-wrapper {
    display: flex;
    justify-content: center;
    padding: 4rem;
    @media only screen and (max-width: 700px) {
        padding: 2rem;
    }
}

.feedback-container {
    display: flex;
    background: #2d3748;
    gap: 2rem;
    width: auto;
}

.feedback-col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: auto;
}

.feedback-img {
    width: 64px;
    @media only screen and (max-width: 700px) {
        width: 40px;
    }
}

.feedback-email {
    font-size: 1.5rem;
    font-style: italic;
    transition: 0.4s;
    text-decoration: none;
    font-weight: bolder;
    color: WHITE;

    @media only screen and (max-width: 700px) {
        font-size: 1.2rem;
    }

    &:hover {
        cursor: pointer;
        text-decoration: none;
        color: #8dabcc;
    }
}

.feedback-headline {
    font-size: 1.5rem;
    font-weight: bolder;

    @media only screen and (max-width: 700px) {
        font-size: 1.2rem;
    }
}
